# Python virtual environments
.venv/
venv/
__pycache__/
*.py[cod]
db.sqlite3
*.log
.env
**/__pycache__/
*.pyc

# Static/media (if created locally)
staticfiles/
media/

# Node & frontend build files (if you have any)
node_modules/
dist/
build/

.DS_Store
__pycache__/
db.sqlite3
*.sqlite3
