asgiref==3.9.1
dj-database-url==3.0.1
Django==5.2.6
django-crispy-forms==2.4
crispy-bootstrap4==2025.6
django-heroku==0.3.1
gunicorn==23.0.0
psycopg2-binary==2.9.10
whitenoise==6.11.0
sqlparse==0.5.3
numpy==2.3.3
scipy==1.16.2
matplotlib==3.10.6
scikit-learn==1.7.2
pillow==11.3.0
channels==4.1.0
daphne==4.1.2
