aiobotocore==2.23.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
anndata==0.12.1
array-api-compat==1.12.0
asciitree==0.3.3
asgiref==3.9.1
async-timeout==5.0.1
attrs==25.4.0
autobahn==22.12.1
Automat==25.4.16
boto3==1.40.59
botocore==1.40.59
cbor2==5.7.1
certifi==2025.10.5
cffi==2.0.0
channels==4.1.0
channels_redis==4.3.0
charset-normalizer==3.4.4
click==8.2.1
cloudpickle==3.1.1
colorcet==3.1.0
constantly==23.10.4
contourpy==1.3.3
crc32c==2.7.1
crispy-bootstrap4==2025.6
crispy-bootstrap5==2025.6
cryptography==46.0.3
cycler==0.12.1
daphne==4.1.2
dask==2024.11.2
dask-expr==1.1.19
dask-image==2024.5.3
datashader==0.18.1
Deprecated==1.2.18
dj-database-url==3.0.1
Django==5.2.6
django-allauth==65.13.0
django-crispy-forms==2.4
django-storages==1.14.6
djangorestframework==3.16.1
docrep==0.3.2
donfig==0.8.1.post1
fasteners==0.19
filelock==3.18.0
flatbuffers==25.9.23
fonttools==4.60.1
frozenlist==1.7.0
fsspec==2025.7.0
geopandas==1.1.1
gmpy2==2.2.1
gunicorn==23.0.0
h5py==3.14.0
hyperlink==21.0.0
idna==3.11
imageio==2.37.0
importlib_metadata==8.7.0
incremental==24.7.2
inflect==7.5.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
kiwisolver==1.4.9
lazy_loader==0.4
legacy-api-wrap==1.4.1
llvmlite==0.44.0
locket==1.0.0
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.10.6
matplotlib-scalebar==0.9.0
mdurl==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.6.3
multipledispatch==1.0.0
multiscale_spatial_image==2.0.3
natsort==8.4.0
networkx==3.4.2
numba==0.61.2
numcodecs==0.15.1
numpy==2.3.3
oauthlib==3.3.1
ome-zarr==0.11.1
omnipath==1.0.12
packaging==25.0
pandas==2.3.1
param==2.2.1
partd==1.4.2
patsy==1.0.1
pillow==11.3.0
PIMS==0.7
platformdirs==4.3.8
pooch==1.8.2
POT==0.9.5
propcache==0.3.2
psycopg==3.2.12
psycopg-binary==3.2.12
psycopg2==2.9.11
psycopg2-binary==2.9.11
py-ubjson==0.16.1
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pyct==0.5.0
pygame==2.1.3.dev8
Pygments==2.19.2
PyJWT==2.8.0
pynndescent==0.5.13
pyobjc==11.1
pyobjc-core==11.1
pyobjc-framework-Accessibility==11.1
pyobjc-framework-Accounts==11.1
pyobjc-framework-AddressBook==11.1
pyobjc-framework-AdServices==11.1
pyobjc-framework-AdSupport==11.1
pyobjc-framework-AppleScriptKit==11.1
pyobjc-framework-AppleScriptObjC==11.1
pyobjc-framework-ApplicationServices==11.1
pyobjc-framework-AppTrackingTransparency==11.1
pyobjc-framework-AudioVideoBridging==11.1
pyobjc-framework-AuthenticationServices==11.1
pyobjc-framework-AutomaticAssessmentConfiguration==11.1
pyobjc-framework-Automator==11.1
pyobjc-framework-AVFoundation==11.1
pyobjc-framework-AVKit==11.1
pyobjc-framework-AVRouting==11.1
pyobjc-framework-BackgroundAssets==11.1
pyobjc-framework-BrowserEngineKit==11.1
pyobjc-framework-BusinessChat==11.1
pyobjc-framework-CalendarStore==11.1
pyobjc-framework-CallKit==11.1
pyobjc-framework-Carbon==11.1
pyobjc-framework-CFNetwork==11.1
pyobjc-framework-Cinematic==11.1
pyobjc-framework-ClassKit==11.1
pyobjc-framework-CloudKit==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-Collaboration==11.1
pyobjc-framework-ColorSync==11.1
pyobjc-framework-Contacts==11.1
pyobjc-framework-ContactsUI==11.1
pyobjc-framework-CoreAudio==11.1
pyobjc-framework-CoreAudioKit==11.1
pyobjc-framework-CoreBluetooth==11.1
pyobjc-framework-CoreData==11.1
pyobjc-framework-CoreHaptics==11.1
pyobjc-framework-CoreLocation==11.1
pyobjc-framework-CoreMedia==11.1
pyobjc-framework-CoreMediaIO==11.1
pyobjc-framework-CoreMIDI==11.1
pyobjc-framework-CoreML==11.1
pyobjc-framework-CoreMotion==11.1
pyobjc-framework-CoreServices==11.1
pyobjc-framework-CoreSpotlight==11.1
pyobjc-framework-CoreText==11.1
pyobjc-framework-CoreWLAN==11.1
pyobjc-framework-CryptoTokenKit==11.1
pyobjc-framework-DataDetection==11.1
pyobjc-framework-DeviceCheck==11.1
pyobjc-framework-DictionaryServices==11.1
pyobjc-framework-DiscRecording==11.1
pyobjc-framework-DiscRecordingUI==11.1
pyobjc-framework-DiskArbitration==11.1
pyobjc-framework-DVDPlayback==11.1
pyobjc-framework-EventKit==11.1
pyobjc-framework-ExceptionHandling==11.1
pyobjc-framework-ExecutionPolicy==11.1
pyobjc-framework-ExtensionKit==11.1
pyobjc-framework-ExternalAccessory==11.1
pyobjc-framework-FileProvider==11.1
pyobjc-framework-FileProviderUI==11.1
pyobjc-framework-FinderSync==11.1
pyobjc-framework-FSEvents==11.1
pyobjc-framework-GameCenter==11.1
pyobjc-framework-GameController==11.1
pyobjc-framework-GameKit==11.1
pyobjc-framework-GameplayKit==11.1
pyobjc-framework-HealthKit==11.1
pyobjc-framework-ImageCaptureCore==11.1
pyobjc-framework-InputMethodKit==11.1
pyobjc-framework-InstallerPlugins==11.1
pyobjc-framework-InstantMessage==11.1
pyobjc-framework-Intents==11.1
pyobjc-framework-IntentsUI==11.1
pyobjc-framework-IOBluetooth==11.1
pyobjc-framework-IOBluetoothUI==11.1
pyobjc-framework-IOSurface==11.1
pyobjc-framework-iTunesLibrary==11.1
pyobjc-framework-KernelManagement==11.1
pyobjc-framework-LatentSemanticMapping==11.1
pyobjc-framework-LaunchServices==11.1
pyobjc-framework-libdispatch==11.1
pyobjc-framework-libxpc==11.1
pyobjc-framework-LinkPresentation==11.1
pyobjc-framework-LocalAuthentication==11.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.1
pyobjc-framework-MailKit==11.1
pyobjc-framework-MapKit==11.1
pyobjc-framework-MediaAccessibility==11.1
pyobjc-framework-MediaLibrary==11.1
pyobjc-framework-MediaPlayer==11.1
pyobjc-framework-MediaToolbox==11.1
pyobjc-framework-Metal==11.1
pyobjc-framework-MetalFX==11.1
pyobjc-framework-MetalKit==11.1
pyobjc-framework-MetalPerformanceShaders==11.1
pyobjc-framework-MetalPerformanceShadersGraph==11.1
pyobjc-framework-MetricKit==11.1
pyobjc-framework-MLCompute==11.1
pyobjc-framework-ModelIO==11.1
pyobjc-framework-MultipeerConnectivity==11.1
pyobjc-framework-NaturalLanguage==11.1
pyobjc-framework-NetFS==11.1
pyobjc-framework-Network==11.1
pyobjc-framework-NetworkExtension==11.1
pyobjc-framework-NotificationCenter==11.1
pyobjc-framework-OpenDirectory==11.1
pyobjc-framework-OSAKit==11.1
pyobjc-framework-OSLog==11.1
pyobjc-framework-PassKit==11.1
pyobjc-framework-PencilKit==11.1
pyobjc-framework-PHASE==11.1
pyobjc-framework-Photos==11.1
pyobjc-framework-PhotosUI==11.1
pyobjc-framework-PreferencePanes==11.1
pyobjc-framework-PushKit==11.1
pyobjc-framework-Quartz==11.1
pyobjc-framework-QuickLookThumbnailing==11.1
pyobjc-framework-ReplayKit==11.1
pyobjc-framework-SafariServices==11.1
pyobjc-framework-SafetyKit==11.1
pyobjc-framework-SceneKit==11.1
pyobjc-framework-ScreenCaptureKit==11.1
pyobjc-framework-ScreenSaver==11.1
pyobjc-framework-ScreenTime==11.1
pyobjc-framework-ScriptingBridge==11.1
pyobjc-framework-SearchKit==11.1
pyobjc-framework-Security==11.1
pyobjc-framework-SecurityFoundation==11.1
pyobjc-framework-SecurityInterface==11.1
pyobjc-framework-SensitiveContentAnalysis==11.1
pyobjc-framework-ServiceManagement==11.1
pyobjc-framework-SharedWithYou==11.1
pyobjc-framework-SharedWithYouCore==11.1
pyobjc-framework-ShazamKit==11.1
pyobjc-framework-Social==11.1
pyobjc-framework-SoundAnalysis==11.1
pyobjc-framework-Speech==11.1
pyobjc-framework-SpriteKit==11.1
pyobjc-framework-StoreKit==11.1
pyobjc-framework-Symbols==11.1
pyobjc-framework-SyncServices==11.1
pyobjc-framework-SystemConfiguration==11.1
pyobjc-framework-SystemExtensions==11.1
pyobjc-framework-ThreadNetwork==11.1
pyobjc-framework-UniformTypeIdentifiers==11.1
pyobjc-framework-UserNotifications==11.1
pyobjc-framework-UserNotificationsUI==11.1
pyobjc-framework-VideoSubscriberAccount==11.1
pyobjc-framework-VideoToolbox==11.1
pyobjc-framework-Virtualization==11.1
pyobjc-framework-Vision==11.1
pyobjc-framework-WebKit==11.1
pyogrio==0.11.1
pyOpenSSL==25.3.0
pyparsing==3.2.5
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-http-client==3.3.7
pytz==2025.2
PyYAML==6.0.2
redis==7.0.1
requests==2.32.5
requests-oauthlib==2.0.0
resend==2.19.0
rich==14.1.0
s3fs==2025.7.0
s3transfer==0.14.0
scanpy==1.11.4
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
sendgrid==6.12.5
service-identity==24.2.0
session-info2==0.2
shapely==2.1.1
six==1.17.0
slicerator==1.1.0
spatial_image==1.2.2
spatialdata==0.4.0
sqlparse==0.5.3
squidpy==1.6.5
statsmodels==0.14.5
sympy==1.14.0
threadpoolctl==3.6.0
tifffile==2025.6.11
toolz==1.0.0
torch==2.7.1
tqdm==4.67.1
Twisted==25.5.0
txaio==25.9.2
typeguard==4.4.4
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
umap-learn==0.5.9.post2
urllib3==2.5.0
validators==0.35.0
Werkzeug==3.1.3
whitenoise==6.11.0
wrapt==1.17.2
xarray==2024.11.0
xarray-dataclass==3.0.0
xarray-dataclasses==1.9.1
xarray-schema==0.0.3
xarray-spatial==0.4.0
yarl==1.20.1
zarr==2.18.7
zipp==3.23.0
zope.interface==8.0.1
