{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header bg-danger text-white text-center">
                    <h3 class="font-weight-light my-4">Account Banned</h3>
                </div>
                <div class="card-body">
                    <p class="lead text-center">Your account has been banned due to a violation of our terms of service.</p>
                    <p class="text-center">You will no longer be able to access your account or use our services.</p>
                    <p class="text-center">If you believe this is an error, please contact support.</p>
                    <div class="text-center mt-4">
                        <a href="{% url 'app-home' %}" class="btn btn-primary">Return to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}