{% extends "home/base.html" %}

{% block content %}
<div class="content-section text-center">
  <div class="media d-flex flex-column align-items-center">
    <img class="rounded-circle account-img" 
         src="/media/profile_pics/default.jpg" 
         alt="Profile Image">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>

      <p class="mt-3">
        {% if user.profile %}
          {% if user.profile.is_student %}
            <strong>I am a student.</strong>
          {% else %}
            <strong>I am not a student.</strong>
          {% endif %}
        {% else %}
          <p>N/A</p>
        {% endif %}
      </p>
    </div>
  </div>

  <form method="POST" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>
{% endblock content %}
